h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 0.8em;
}

.canvas-background {
  /* background-image: url('../images/clouds.jpg');
  background-size: cover;
  background-position: center 0; */
  background-color: lightgreen;
  width: auto;
  /* position: absolute; */
}

.first-tree {
  display: flex;
  justify-content: space-between;
}

.second-tree {
  display: flex;
  justify-content: space-between;
}

.tree-explanation {
  padding: 15px;
}
