h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 0.8em;
}

.canvas-background {
  background-image: url("../images/clouds.jpg");
  width: auto;
}

.first-tree {
  display: flex;
  justify-content: space-between;
}

.second-tree {
  display: flex;
  justify-content: space-between;
}

.tree-explanation {
  padding: 15px;
  font-size: 20px;
  line-height: 1.5;
}

.reference-trees {
  width: 30%;
}

.reference-trees li {
  list-style: none;
}

.main {
  display: flex;
  margin: 4%;
}

.main p {
  width: 70%;
  font-size: 1.2em;
  padding: 1em 2em;
  line-height: 1.5;
}

.canvas-slides {
  margin: 4%;
  display: flex;
}
